<%= form_for(service) do |form| %>
  <div>
    <div>
      <div class="space-y-6">
        <%= render(Flowbite::InputField::Text.new(:form => form, :attribute => :name)) %>
        <%= render(Flowbite::InputField::Number.new(:form => form, :attribute => :price)) %>

        <%= render(Form::UnitSelectorComponent.new(:form => form, :attribute => :unit)) %>

        <%= render(Flowbite::InputField::Text.new(:form => form, :attribute => :economic_product_number)) %>
      </div>
    </div>
  </div>
  <div class="mt-8 border-t border-gray-200 pt-5">
    <%= render(Flowbite::Button.new(:label => "Save", :type => :submit)) %>
    <%= link_to "Cancel", services_path, :class => Flowbite::Button::Outline.default_classes %>
  </div>
<% end %>
